/data/VISal_three_session_A_501876401/
/data/VISal_three_session_B_501929146/
/data/VISl_three_session_A_502793808/
/data/VISl_three_session_B_502526200/
/data/VISp_three_session_A_501704220/
/data/VISp_three_session_B_501559087/